@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap); 

* {
	background: #f5b0bc;
	color: black;
	font-size: larger;
	font-family: 'Kaushan Script', cursive;
	line-height: 50px;
}


/* container and stuff */
.container {
	display: flex;
}

.column {
	flex-direction: column;
}

.tight {
	margin: 5px 5px 5px 5px;
}

/* content positioning */
.center {
	display: flex;
	justify-content: center;
}

/* text */
.title {
	font-size: 45px;
}

.normal {
	font-size: 30px;
}

/* image */
.circle-border {
	border-radius: 50%;
}

.big-image {
	width: 350px;
	height: 350px;
}

.unselectable {
	/* user-drag: none;  */
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}