* {
	box-sizing: border-box;
}

body {
    background: #141d2b;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
	max-width: 50vw;
	display: flex;
	flex-shrink: 1;			
	margin: 5vh auto 5vh auto;
	width: 100vw;
	height: calc(100vh - 10vh);
}

/* Container */
.container {
	display: flex;
	width: 100%;
}

.left-container {
	display: block;
	width: 100%;
	max-width: 50%;
}

.right-container {
	display: flex;
	width: 100%;
	max-width: 50%;
}

.row {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.column {
	display: block;
	margin-left: 0;
}

/* positioning */
.center {
	justify-content: center;
	align-items: center;
}

/* font */ 
.intro {
	font-style: normal;
    font-weight: 800;
}

.hi {
    font-size: 18px;
    line-height: 32px;
}

.name {
    font-size: 46px;
    line-height: 36px;
}

.profile {
	padding-bottom: 1em;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
	color: #a4b1cd
}


/* tag selector */
div {
	display: flex;
}

div.card {
	margin: 0.5rem;
	width: 100%;
	height: 20vh;
	background-color: #101a29;
	border-radius: 20px;
}

p {
	text-align: justify;
	text-justify: inter-word;
	margin-top: 0;
	margin-bottom: 1.5rem;
}


a, a:visited, a:active, a:link {
    color: #007bff;
    text-decoration: none;
    font-weight: 400;
}

img {
	padding: 0.5rem;
}

img.unselectable{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img.pfp {
	height: auto;
	margin-bottom: 3rem;
}

img.icon {
	max-width: 7rem;
	height: auto;
	width: auto;
}

img.small-icon{
	height: 3vw;
	min-height: 40px;
	width: auto;
}